<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
    <test name="test">
        <classes>
            <class name="com.automation.ui.regression.TestCase1"/>
            <class name="com.automation.ui.regression.TestCase9"/>
            <class name="com.automation.ui.regression.TestCase16"/>
            <class name="com.automation.ui.regression.TestCase25"/>
        </classes>
    </test>

</suite>